@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    min-height: 100%;
}

.habilidades h1{
    margin-top: 30px;
    margin-left: -270px;
    font-size: 70px;
}

.experienciax{
    margin-left: -200px;
}
.experienciax h1{
    font-size: 80px;
    margin-left: -50px;
    margin-top: 100px;
}
.section [id]
{
    scroll-margin: 50px;
 scroll-margin-top:200px; 
} 
.divcontac
{
    
    cursor: pointer;
}

/* botn enviar formulario */
.btn-fo{
    margin-top: 10px;
        padding: 5px 5px;
        border: unset;
        border-radius: 15px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
       
       
}
.btn-fo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   .btn-fo:hover {
    color: #e8e8e8;
   }
   
   .btn-fo:hover::before {
    width: 100%;
   }
   
   /* ---------------------------------------- */
   /* ............................ */

   progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     
    /* Quito el borde que aparece en Firefox */
    border: none;
 
    /* Añado mis propios estilos */
    width: 270px;
    height: 30px;
    overflow:hidden;
     
/*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
        border:1px inset #666;
    background-color:#D8D8D8;
    border-radius : 20px ;
}
progress::-webkit-progress-value {
    background: #000000;
    border-radius : 20px;  
}
 
progress::-webkit-progress-bar {
    background-color:#D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
    border-radius : 20px ;         
}





   /*  */

/* personalizacion boton bien maquia */
.boton_mas{
    margin-top: 30px;
    position: relative;
    display: inline-block; 
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size:15 px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
}
.boton_mas:hover{
  background: #4268fd;
  box-shadow: 0 0 10px #a945c7,0 0 40px #a945c7, 0 0 80px #a945c7;
}
/* --------------- */
.btn-envia{
    margin-top: 20px;
}
.btn_E{
    margin-left: -280px;
}
/* clases para mostrar mas */
.mostrar_mas{
    display: none;
}
.show{
    display: block;
}
/* --------------------- */
.container{
    width:50px ;
}

.Experiencia{
    margin-left: -290px;
  
    /* margin-top: 440px; */
    
}





.container-from{
    width: 100%;
    max-width: 200px; 
  
    margin: auto;
    display: grid;
    grid-gap: 20px;
    margin-top: 100px;
    
}
.container-from h2{
    margin-left: -240px;
    margin-bottom: 15px;
    font-size: 35px;
} 
.container-from p{
    margin-left: -270px;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-from a{
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    
} 
.campo{
    margin-left: -150px;
    width: 100%;
    padding: 20px 20px;
    font-size: 15px;
}
.container-from a i{
    color:black;
    margin-right: 10px;
    margin-left: -280px;
} 

.asunto{
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;

}
.asunto:focus {
    border: 2px solid #fa4753;
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
   }
   .correo{
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}
.correo:focus {
    border: 2px solid #fa4753;
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
   }
   .mensaje{
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}
.mensaje:focus {
    border: 2px solid #fa4753;
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
   }

.formu{
   margin-top: -30px;
    margin-left: -250px; 
} 


.container img{
   
    width: 50px ;
    
}

.navbar{
    margin: 0 1px;
    font-weight: bold;
}
.navbar ul {
    
    display: flex;
    gap: 25px;
}
/* quitando estilos de la lista ejemplo subrayado */
.navbar ul li{
    
    list-style: none;
    font-size: 20px;
    
}
/* Primer div de presentacion acomodando h1 */
.presentacionmain h1{
    margin-top: 10px;
    font-size: 50px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}
.presentacionmain p{
    margin-top: 10px;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
}
/* ------------------------------ */


/* Segundo div experiencia laboral o academica */
.Experienciamain h1{
    margin-top: 30px;
}
.Experienciamain p{
    margin-top: 10px;
    text-align: justify;
}
/*--------------------------------  */


/* quitamos decoracion de los titulos del navbar */
.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Abel', sans-serif;
}

.navbar ul li a:hover{
    border-bottom: solid 1px rgb(0, 0, 0);
}




/* Tamaño imagen usuario*/

/* ------------------- */

 /* personalizacion del boton */
.botonContacto{
    margin-top: 10px;
   border-radius: 1000px;
   margin-left: 70px;  
}
/* ----------------------- */

/* medidas del borde de cada seccion de la maqueta */
.grid-container > *{
    box-shadow: 0px 1px -15px 0px rgba(0,0,0,0.7); 
    border-radius: 0px;
    padding: 10px;
    text-align:center;
}
/* ------------------------- */

/* -----------------HEADER--------------- */
.header {
    position: absolute; 
    align-items:center;
    gap: 40px;
    width: 100%;
    grid-area: header;
    background-color:#0b5cb8;
    border: solid -1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    grid-area: header;
    margin-top: -40px;
    margin-left: 70px;
    color:white;
    font-family: 'Archivo', sans-serif;
    
}
.titulo{
    
    font-size: 22px;  
    font-family: 'Francois One', sans-serif;
    
}
/* ----------------------------- */

.Experiencia_cuerpo h2{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 70px;
}
/* -------SIDEBAR----------------------------------------------------------------- */
.sidebar{

    background-color: #ffffff;
    grid-area: sidebar;
    margin-top: 10px;
    
}
/* H1 caracteristicas:Nombre */
.sidebar h1{
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;

    
}
/* Tamaño de imagen */
.containerusuario>*{
    margin-top:26px;
    max-width: 250px;
    max-height: 250px;  
}
/* personalizacion boton sidebar:Contactar */
.contactar{
    border-radius:10px ;
    padding: 10px; 
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 70px;
    /* background-color:cornsilk; */
    margin-left: 50px;
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
    }
    .contactar:focus {
        border: 2px solid #0109ff;
      caret-color: #fa4753;
      color: #000000;
      box-shadow: 4px 4px 10px #070707;
       }
       /* Descripcion de persona abajo de foto de perfil */
.descripcion{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: justify;
    margin-top: 20px;
    margin-left: 10px;
}

/* ------------------------------------------------------------------------------- */







/* --------------MAIN-------------------------------------------------------------- */
/* Presentación --------------------------------------------------------------------*/
.presentacion_cuerpo{
    background-color:white;
    color: rgb(0, 0, 0);
    text-align: left;
    text-align: justify;
    
   
}
.Presentacion{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -25px;
}
.presentacion-grid{
    display: grid;
}
.presentacion_cuerpo p{
    margin-left: -70px;
 }
 .presentacion_cuerpo h2{
     
     color:black;
     font-size: 60px;
     text-align: center;
     font-family: 'M PLUS Rounded 1c', sans-serif;
     
 }
 .presentaciontexto {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
   font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.imagencentro{
  
    margin-top: 1px;
    margin-left: 330px;
    max-width: 420px;
    border-radius: 10px;
    
        
}

/* ------------------------------------------------------------------------------- */
/* --------------------EXPECTATIVAS------------------------------------------- */
.waveimg{
    margin-top: 200px;
    margin-left: -340px;
}
.wave2{
    transform: scaleY(-1);
    margin-left: -45px;
}

.Experiencia_cuerpo{
    background-color: #124f88;
    margin-top: -20px;
    margin-right: -25px;
}
.parte1
{
    margin-top: 40px;

    color: white;
    text-align: center;
}
.parte2
{
    margin-top: 150px;
    color: white;
    text-align: center; 
}
.parte3
{
    margin-top: 150px;
    color: white;
    text-align: center; 
}
.parte4
{
    margin-top: 150px;
    color: white;
    text-align: center; 
}

/* ------------------------------------------------------------------------------ */

/* --------------------------------------------------------------------------------- */





.main{
    margin-top: 10px;
    grid-area: main;
    background-color: rgb(255, 255, 255);
   margin-right: 10px;
}

.footer{
    grid-area: footer;
    color:white;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-content,.footer-menu{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 1rem;

}

.icons{
    height: 50px;
    width:50px ;
    margin: 1rem;
}

.footer-menu{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyringht{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.grid-container{
    display: grid;
    gap: 1px;
    grid-template-areas: 
    "header"
    "main"
    "sidebar"
    "footer";
}
/* Definimos el tamaño de cada grid para organizar de forma correcta sus espacios en la maqueta 
tanto cómo estos lo requieran */
@media (min-width: 600px){
    .grid-container{  
        grid-template-columns:  275px 1070px;
        grid-template-rows: 70px auto;
        grid-template-areas: 
        "header header"
        "sidebar main "
        "footer  footer" 
        ; 
    }  
}
